[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
igraph = "*"
hetpy = {path = "."}
twine = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
test = "coverage run -m unittest discover tests"
coverage = "coverage report -m"
